.App {
  text-align: center;
  font-family: tw cen mt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.jumbotron {
  background-color: rgb(255, 255, 255);
  background-image: url(./bg.jpg);
  background-size: cover;
  height: 400px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 100px;
}

h1{
  color: white;
}
.text {
  padding: 10px;
  font-size: 18px;
}
.title {

  font-weight: bold;
}
.form{
  display: flex;
  justify-content: center;

}
.line {
  color: black;
}
u {
  font-size: 20px;
}
.judul {
  text-decoration: underline;
}
.footer {
  font-size: 15px;
  line-height: 15px;
}
small {
  opacity: 80%;
}